.w-auto {
    width: auto !important;
}

.margin-auto {
    margin: auto !important;
}

.login-logo-height {
    height: 60% !important;
}

.watermark {
    display: none !important;
}

.padding-top-10p {
    padding-top: 10% !important;
}